<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add
		  name="KBEC_Connection"
		  connectionString="Server=DESKTOP-IU6E5JV\SQLEXPRESS;Database=KBEC_DB;Trusted_Connection=True;TrustServerCertificate=True;"
		  providerName="System.Data.SqlClient"/>
	</connectionStrings>

  <appSettings>
	<add key="AdminEmail" value="admin@kbcofficial.com" />
  </appSettings>

  <!-- Configure SMTP settings for sending notification emails. Adjust host/port/credentials as needed. -->
  <system.net>
	<mailSettings>
	  <smtp>
		<deliveryMethod>Network</deliveryMethod>
		<!-- Default: local SMTP relay. Change host/port/credentials for your environment. -->
		<network host="localhost" port="25" />
	  </smtp>
	</mailSettings>
  </system.net>

  <system.web>
	<compilation debug="true" targetFramework="4.8"/>
	<pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>


  <system.webServer>
	<defaultDocument enabled="true">
	  <files>
		<add value="index.aspx" />
	  </files>
	</defaultDocument>
  </system.webServer>
</configuration>
