<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add
		  name="KBEC_Connection"
		  connectionString="Server=DESKTOP-IU6E5JV\SQLEXPRESS;Database=KBEC_DB;Trusted_Connection=True;TrustServerCertificate=True;"
		  providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

 
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>